.flow > * + * {
	margin-block-start: var(--flow-space, 1lh);
}

.cluster {
	display: flex;
	flex-wrap: var(--cluster-wrap, wrap);
	gap: var(--cluster-gap, 1lh 1em);
	justify-content: var(--cluster-horizontal-alignment, flex-start);
	align-items: var(--cluster-vertical-alignment, center);
}

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--stack-gap, 1lh 1em);
	justify-content: var(--stack-vertical-alignment, flex-start);
	align-items: var(--stack-horizontal-alignment, flex-start);
}

.repel {
	display: flex;
	flex-wrap: var(--repel-wrap, wrap);
	gap: var(--repel-gap, 1lh 1em);
	justify-content: space-between;
	align-items: var(--repel-vertical-alignment, center);
}

:has(> .sidebar) {
	display: flex;
	flex-wrap: wrap;
	gap: var(--sidebar-gap, 1lh 1em);
}

.sidebar {
	flex-basis: var(--sidebar-min-width, auto);
	flex-grow: 1;
}

:has(> .sidebar) > :not(.sidebar) {
	flex-basis: 0;
	flex-grow: 99999;
	min-inline-size: 60%;
}

:has(> .sidebar) > :only-child,
:has(> .sidebar) > :nth-child(3) {
	--error: 'Sidebar layouts must include exactly two child elements.';
	outline: var(--error-outline);
}

.grid {
	display: grid;
	gap: var(--grid-row-gap, var(--grid-gap, 1lh))
		var(--grid-column-gap, var(--grid-gap, 1em));
	grid-template-columns: repeat(
		var(--grid-placement, auto-fill),
		minmax(var(--grid-min-item-size, min(16rem, 100%)), 1fr)
	);
}
