@view-transition {
	navigation: auto;
}

html {
	color-scheme: light dark;
	accent-color: var(--accent-color);
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	font-size: var(--text-size);
	line-height: var(--leading-normal);
}

h1 {
	line-height: var(--leading-tight);
}

a {
	color: var(--link-default-color, var(--accent-color));

	&:visited {
		color: var(--link-visited-color, var(--accent-color));
	}
}

button {
	&:hover {
		--btn-border-color: var(--btn-bg-hover-color, var(--accent-color));
		background: var(--btn-bg-hover-color, var(--accent-color));
		color: var(--btn-text-hover-color, var(--bg-color));
	}
}

/*——————————————————————————————————————————————————————————————————————————————
	Error state styles for inputs and textarea
	https://adrianroselli.com/2019/09/under-engineered-text-boxen.html
——————————————————————————————————————————————————————————————————————————————*/
input:not([type='radio']):not([type='checkbox']):not([type='file']):not(
		[type='image']
	):not([type='range']):user-invalid,
textarea:user-invalid {
	background: linear-gradient(
		135deg,
		var(--error, red) 0,
		var(--error, red) 0.25lh,
		#0000 0.4em
	);
}

/*——————————————————————————————————————————————————————————————————————————————
 scrolling shadows to offer a visual cue
——————————————————————————————————————————————————————————————————————————————*/
[role='region'][aria-labelledby][tabindex] {
	background:
		linear-gradient(
			to right,
			var(--bg-color) 30%,
			color-mix(in srgb, var(--bg-color) 0%, #0000)
		),
		linear-gradient(
				to right,
				color-mix(in srgb, var(--bg-color) 0%, #0000),
				var(--bg-color) 70%
			)
			0 100%,
		radial-gradient(
			farthest-side at 0% 50%,
			color-mix(in srgb, var(--text-color) 20%, #0000),
			color-mix(in srgb, var(--text-color) 0%, #0000)
		),
		radial-gradient(
				farthest-side at 100% 50%,
				color-mix(in srgb, var(--text-color) 20%, #0000),
				color-mix(in srgb, var(--text-color) 0%, #0000)
			)
			0 100%;
	background-repeat: no-repeat;
	background-color: var(--bg-color);
	background-size:
		40px 100%,
		40px 100%,
		14px 100%,
		14px 100%;
	background-position:
		0 0,
		100%,
		0 0,
		100%;
	background-attachment: local, local, scroll, scroll;
}

th {
	@media not (forced-colors: active) {
		background-color: color-mix(
			in srgb,
			var(--text-color) 80%,
			var(--bg-color)
		);
		color: var(--bg-color);
	}
}

tr:nth-child(even) {
	background-color: color-mix(in srgb, var(--text-color) 8%, #0000);
}
