@view-transition {
	navigation: auto;
}

html {
	color-scheme: light dark;
}

body {
	font-family: system-ui;
	font-size: var(--text-size);
	line-height: var(--leading-normal);
}

h1 {
	line-height: var(--leading-tight);
}

@supports (anchor-name: --blockquote) {
	blockquote {
		margin-inline-start: 1lh;

		anchor-name: --blockquote;
		anchor-scope: --blockquote;

		&::before,
		&::after {
			position: absolute;
			position-anchor: --blockquote;
			position-area: inline-start span-block-end;
			margin-inline-end: 0.25lh;

			font-size: 2em;
			line-height: 1;
		}

		&::before {
			content: open-quote;
		}
		&::after {
			content: close-quote;
			opacity: 0;
		}
	}
}
