@view-transition {
	navigation: auto;
}

html {
	color-scheme: light dark;
}

body {
	padding: 1lh;
	font-family: system-ui;
	font-size: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem); /* 16px — 18px */
	line-height: 1.5;
}

h1 {
	line-height: 1.1;
}

blockquote {
	position: relative;
	margin-inline-start: 2ch;

	&::before,
	&::after {
		position: absolute;
		inset-inline-start: -1ch;
		inset-block-start: 0;
		font-size: 2em;
		line-height: 1;
	}

	&::before {
		content: open-quote;
	}
	&::after {
		content: close-quote;
		opacity: 0;
	}
}
