*,
*::before,
*::after {
	box-sizing: border-box;
}

:not(dialog) {
	margin: 0;
}

/*——————————————————————————————————————————————————————————————————————————————
 	enables animations & transitions between a length/percentage value and an intrinsic size value
——————————————————————————————————————————————————————————————————————————————*/
:root {
	@supports (interpolate-size: allow-keywords) {
		interpolate-size: allow-keywords;
	}
}

html {
	block-size: 100%;
	text-size-adjust: none; /* Prevent font size inflation */
	hanging-punctuation: first last;
	-webkit-font-smoothing: antialiased;
	overflow-wrap: anywhere;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	min-block-size: 100%;
	font-family: var(--font-base, system-ui);
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	@supports (text-box: trim-both cap alphabetic) {
		text-box: trim-both cap alphabetic;
	}
}

p,
li,
dd {
	max-inline-size: var(--measure, 60ch);
	text-wrap: pretty;
}

dd {
	margin-inline-start: var(--dd-margin, 1em);
}

/*——————————————————————————————————————————————————————————————————————————————
	Remove list styles on ul, ol with a list role, which suggests default styling will be removed
——————————————————————————————————————————————————————————————————————————————*/
ol[role='list'],
ul[role='list'] {
	list-style: none;
	padding-inline-start: 0; /* Browsers default padding-inline-start: 40px */
}

a {
	--_underline-thickness: 0.1em;

	text-decoration-thickness: var(--_underline-thickness);
	text-underline-offset: 27%;
	text-decoration-color: oklch(from currentColor l c h / 0.75);

	&:hover {
		text-decoration-thickness: calc(2 * var(--_underline-thickness));
		text-underline-offset: 20%;
		text-decoration-color: currentColor;
	}
}

button,
[type='button'],
[type='submit'],
[type='reset'] {
	border: var(--btn-border-width, 0.0625em) var(--btn-border-style, solid)
		var(--btn-border-color, transparent);
	transition: scale 50ms ease-in;

	&:active {
		scale: 0.98;
	}
}

input,
button,
textarea,
select,
input[type='file']::-webkit-file-upload-button {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

input:not([type='file']),
textarea,
select {
	border: var(--control-border-width, 0.0625em)
		var(--control-border-style, solid) var(--control-border-color, currentColor);
	background: var(--control-bg, inherit);
}

input:not([type='radio']):not([type='checkbox']):not([type='file']):not(
		[type='image']
	):not([type='range']),
textarea,
select {
	padding: var(--control-padding, 0.125lh);
}

fieldset {
	border: var(--fieldset-border-width, 0.0625rem)
		var(--fieldset-border-style, solid)
		var(--fieldset-border-color, currentColor);
}

/*——————————————————————————————————————————————————————————————————————————————
	One last time: custom styling radio buttons and checkboxes
	https://www.scottohara.me/blog/2021/09/24/custom-radio-checkbox-again.html
——————————————————————————————————————————————————————————————————————————————*/
input[type='radio'],
input[type='checkbox'] {
	--_input-size: 1em;
	--control-border-width: 0.0625em;

	appearance: none;
	position: relative;
	display: inline-block;
	inline-size: var(--_input-size);
	block-size: var(--_input-size);
	vertical-align: text-bottom;

	&::before {
		content: '';
		position: absolute;
		margin: auto;
		inset: 0;
	}
}

input[type='radio'] {
	border-radius: 100%;

	&::before {
		inline-size: 0;
		block-size: 0;
	}

	&:checked::before {
		border: 0.3125em solid transparent;
		border-radius: 100%;
		background: var(--accent-color, currentColor);
	}
}

input[type='checkbox'] {
	--_checkbox-border: 0.125em;
	border-radius: var(--checkbox-border-radius, 0%);

	&:checked {
		background-color: var(--accent-color, currentColor);
	}
}

input[type='checkbox']:indeterminate::before,
input[type='checkbox'][aria-checked='mixed']::before {
	inline-size: 60%;
	block-size: 0;
	border-block-start: var(--_checkbox-border) solid
		var(--accent-color, currentColor);
}

input[type='checkbox']:checked::before {
	border-inline-end: var(--_checkbox-border) solid
		var(--accent-color, currentColor);
	border-block-end: var(--_checkbox-border) solid
		var(--accent-color, currentColor);
	inline-size: 33%;
	block-size: 66%;
	border-color: var(--control-bg, canvas);
	transform: rotate(45deg) translateY(-10%) translateX(-10%);
}

select,
textarea {
	@supports (field-sizing: content) {
		field-sizing: content;
	}
}

textarea {
	resize: block;
}

/*——————————————————————————————————————————————————————————————————————————————
 	Make sure textareas without a rows attribute are not tiny
——————————————————————————————————————————————————————————————————————————————*/
textarea:not([rows]) {
	min-block-size: var(--textarea-height, 5lh);
}

a[href],
area,
button,
:where(
	input:not(
		[type='text'],
		[type='email'],
		[type='number'],
		[type='password'],
		[type=''],
		[type='tel'],
		[type='url']
	)
),
label[for],
select,
summary,
[tabindex]:not([tabindex*='-'], pre),
::file-selector-button {
	cursor: pointer;
}

a[href],
area,
button,
input,
label[for],
select,
summary,
textarea,
[tabindex]:not([tabindex*='-']) {
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
}

img,
svg,
video {
	max-inline-size: 100%;
	block-size: auto;
}

blockquote {
	padding-inline-start: var(--blockquote-padding-inline-start, 1em);
	border-inline-start: var(--blockquote-border, 0.25em)
		var(--blockquote-border-style, solid)
		var(--blockquote-border-color, currentColor);
}

hr {
	block-size: 0;
	border: none;
	border-block-start: var(--hr-border-width, 0.0625em)
		var(--hr-border-style, solid) var(--hr-border-color, currentColor);
	color: inherit;
	overflow: visible;
}

pre,
code,
kbd {
	font-family: var(
		--font-mono,
		ui-monospace,
		'Cascadia Code',
		'Source Code Pro',
		Menlo,
		Consolas,
		'DejaVu Sans Mono',
		monospace
	);
}

pre {
	padding: var(--pre-padding, 0.25lh);
	inline-size: fit-content;
	max-inline-size: 100%;

	outline: var(--pre-border-width, 0.0625rem) var(--pre-border-style, solid)
		var(--pre-border-color, currentColor);

	tab-size: var(--tab-size, 2);
	white-space: pre;
	overflow-inline: auto;
	writing-mode: lr;
	direction: ltr;
}

code,
kbd {
	font-size: var(--code-font-size, 0.9em);
}

:not(pre) > code,
kbd {
	white-space: nowrap;
}

:not(pre) > code {
	padding: var(--code-padding, 0.125lh);
	background-color: var(
		--code-bg,
		color-mix(in oklch, currentColor 8%, transparent)
	);
}

/*——————————————————————————————————————————————————————————————————————————————
	Under-Engineered Responsive Tables
	https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html
——————————————————————————————————————————————————————————————————————————————*/
[role='region'][aria-labelledby][tabindex] {
	inline-size: fit-content;
	max-inline-size: 100%;
	border: var(--table-border-width, 0.0625rem) var(--table-border-style, solid)
		var(--table-border-color, currentColor);
	overflow: auto;
}

table {
	inline-size: max-content;
	border-collapse: collapse;
}

caption,
th,
td {
	padding: var(--table-cell-padding, 0.25lh);
	text-align: start;
}

caption {
	position: sticky;
	inset-inline-start: 0;
	max-inline-size: fit-content;
}

th,
td {
	vertical-align: text-top;
}

td {
	max-inline-size: min(66vi, var(--measure, 35ch));
}

:focus-visible {
	--_focus-border: 0.125em;

	outline: var(--focus-ring-width, var(--_focus-border)) solid
		var(--focus-ring-color, currentColor);
	outline-offset: var(--focus-ring-width, var(--_focus-border));
}

[disabled],
[aria-disabled='true'] {
	opacity: var(--disabled-opacity, 0.37);
	cursor: not-allowed;
}
