*,
*::before,
*::after {
	box-sizing: border-box;
}

:not(dialog) {
	margin: 0;
}

/*——————————————————————————————————————————————————————————————————————————————
 	enables animations & transitions between a length/percentage value and an intrinsic size value
——————————————————————————————————————————————————————————————————————————————*/
:root {
	@supports (interpolate-size: allow-keywords) {
		interpolate-size: allow-keywords;
	}
}

html {
	block-size: 100%;
	text-size-adjust: none; /* Prevent font size inflation */
	hanging-punctuation: first last;
	-webkit-font-smoothing: antialiased;
	overflow-wrap: anywhere;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	min-block-size: 100%;
	font-family: var(--font-base, system-ui);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	@supports (text-box: trim-both cap alphabetic) {
		text-box: trim-both cap alphabetic;
	}
}

p,
li,
dd {
	max-inline-size: var(--measure, 60ch);
	text-wrap: pretty;
}

dd {
	margin-inline-start: var(--dd-margin, 1lh);
}

/*——————————————————————————————————————————————————————————————————————————————
	Remove list styles on ul, ol with a list role, which suggests default styling will be removed
——————————————————————————————————————————————————————————————————————————————*/
ol[role='list'],
ul[role='list'] {
	list-style: none;
	padding-inline-start: 0; /* Browsers default padding-inline-start: 40px */
}

a {
	text-underline-offset: var(
		--underline-offset,
		0.125em
	); /* 2px at 16px font size */
}

button,
[type='button'],
[type='submit'],
[type='reset'] {
	border: var(--btn-border-width, 0.0625em) var(--btn-border-style, solid)
		var(--btn-border-color, currentColor);
	transition: scale 50ms ease-in;

	&:active {
		scale: 0.98;
	}
}

input,
button,
textarea,
select,
input[type='file']::-webkit-file-upload-button {
	font: inherit;
}

select,
textarea {
	@supports (field-sizing: content) {
		field-sizing: content;
	}
}

textarea {
	resize: block;
}

/*——————————————————————————————————————————————————————————————————————————————
 	Make sure textareas without a rows attribute are not tiny
——————————————————————————————————————————————————————————————————————————————*/
textarea:not([rows]) {
	min-block-size: var(--textarea-height, 5lh);
}

a[href],
area,
button,
:where(
	input:not(
		[type='text'],
		[type='email'],
		[type='number'],
		[type='password'],
		[type=''],
		[type='tel'],
		[type='url']
	)
),
label[for],
select,
summary,
[tabindex]:not([tabindex*='-'], pre),
::file-selector-button {
	cursor: pointer;
}

a[href],
area,
button,
input,
label[for],
select,
summary,
textarea,
[tabindex]:not([tabindex*='-']) {
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

[disabled],
label:has([disabled]) {
	opacity: var(--disabled-opacity, 0.37);
	cursor: not-allowed;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
}

img,
svg,
video {
	max-inline-size: 100%;
	block-size: auto;
}

blockquote {
	padding-inline-start: var(--blockquote-padding-inline-start, 1lh);
	border-inline-start: var(--blockquote-border, 0.25em)
		var(--blockquote-border-style, solid)
		var(--blockquote-border-color, currentColor);

	/*@supports (anchor-name: --blockquote) {
		padding: unset;
		border: unset;
		margin-inline-start: 1lh;

		anchor-name: --blockquote;
		anchor-scope: --blockquote;

		&::before,
		&::after {
			position: absolute;
			position-anchor: --blockquote;
			position-area: inline-start span-block-end;
			margin-inline-end: 0.25lh;

			font-size: 2em;
			line-height: 1;
		}

		&::before {
			content: open-quote;
		}
		&::after {
			content: close-quote;
			opacity: 0;
		}
	}*/
}

hr {
	block-size: 0;
	border: none;
	border-block-start: var(--hr-border-width, 0.0625em)
		var(--hr-border-style, solid) var(--hr-border-color, currentColor);
	color: inherit;
	overflow: visible;
}

pre,
code,
kbd {
	font-family: var(
		--font-mono,
		ui-monospace,
		'Cascadia Code',
		'Source Code Pro',
		Menlo,
		Consolas,
		'DejaVu Sans Mono',
		monospace
	);
}

pre {
	padding: var(--pre-padding, 0.25lh);
	inline-size: fit-content;
	max-inline-size: 100%;

	outline: var(--pre-border-width, 0.0625rem) var(--pre-border-style, solid)
		var(--pre-border-color, currentColor);

	tab-size: var(--tab-size, 2);
	white-space: pre;
	overflow-inline: auto;
	writing-mode: lr;
	direction: ltr;
}

:not(pre) > code,
kbd {
	font-size: var(--code-font-size, 0.9em);
	white-space: nowrap;
}

:not(pre) > code {
	padding: var(--code-padding, 0.125lh);
	background-color: var(
		--code-bg,
		color-mix(in oklch, currentColor 8%, transparent)
	);
}

/*——————————————————————————————————————————————————————————————————————————————
	Under-Engineered Responsive Tables
	https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html
——————————————————————————————————————————————————————————————————————————————*/
[role='region'][aria-labelledby][tabindex] {
	inline-size: fit-content;
	max-inline-size: 100%;
	border: var(--table-border-width, 0.0625rem) var(--table-border-style, solid)
		var(--table-border-color, currentColor);
	overflow: auto;
}

table {
	inline-size: max-content;
	border-collapse: collapse;
}

caption,
th,
td {
	padding: var(--table-cell-padding, 0.25lh);
	text-align: start;
}

caption {
	position: sticky;
	inset-inline-start: 0;
	max-inline-size: fit-content;
}

th,
td {
	vertical-align: text-top;
}

td {
	max-inline-size: min(66vi, var(--measure, 35ch));
}
