:root {
	--text-size: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem); /* 16px — 18px */

	--bg-color: canvas;
	--text-color: canvasText;
	--accent-color: light-dark(blue, lightblue);
	--link-default-color: var(--accent-color);
	--link-visited-color: oklch(from var(--link-default-color) l c 303.38);

	--leading-tight: 1.1;
	--leading-snug: 1.3;
	--leading-normal: 1.5;
	--leading-relaxed: 1.7;
}
