---
import Blockquote from '@components/Blockquote.astro';
---

<main class="flow wrapper region">
	<section class="flow">
		<h1>h1 HTML5 Kitchen Sink</h1>
		<h2>h2 HTML5 Kitchen Sink</h2>
		<h3>h3 HTML5 Kitchen Sink</h3>
		<h4>h4 HTML5 Kitchen Sink</h4>
		<h5>h5 HTML5 Kitchen Sink</h5>
		<h6>h6 HTML5 Kitchen Sink</h6>
	</section>
	<hr />
	<section class="flow">
		<header>
			<nav>
				<ul class="cluster" role="list">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</header>
		<hr />
		<details>
			<summary>Table of contents</summary>
			<nav>
				<ul>
					<li><a href="#">Lorem ipsum</a></li>
					<li><a href="#">Dolor sit</a></li>
					<li><a href="#">Amet elit</a></li>
				</ul>
			</nav>
		</details>
		<article class="flow">
			<p>
				This paragraph is nested inside an article. It contains many different,
				sometimes useful,
				<a href="https://www.w3schools.com/tags/">HTML5 tags</a>. Of course
				there are classics like <em>emphasis</em>, <strong>strong</strong>, and
				<small>small</small> but there are many others as well. Hover the following
				text for abbreviation tag: <abbr title="abbreviation">abbr</abbr>. You
				can define <del>deleted text</del> which often gets replaced with
				<ins>inserted</ins> text.
			</p>
			<p>
				You can also use <kbd>keyboard text</kbd>, which sometimes is styled
				similarly to the <code>&lt;code&gt;</code> or <samp>samp</samp> tags. Even
				more specifically, there is a tag just for <var>variables</var>. Not to
				be mistaken with blockquotes below, the quote tag lets you denote
				something as <q>quoted text</q>. Lastly don't forget the sub (H<sub
					>2</sub
				>O) and sup (E = MC<sup>2</sup>) tags.
			</p>
			<pre><code>let i = 5;
if (i &lt; 10 &amp;&amp; i &gt; 0)
  return &quot;Single Digit Number&quot;
</code></pre>
			<Blockquote>
				<p>
					This is a mult-line blockquote with a cite reference. People think
					focus means saying yes to the thing you’ve got to focus on. But that’s
					not what it means at all. It means saying no to the hundred other good
					ideas that there are. You have to pick carefully. I’m actually as
					proud of the things we haven’tdone as the things I have done.
					Innovation is saying no to 1,000 things.
				</p>
				<Fragment slot="author">Steve Jobs</Fragment>
				<Fragment slot="citation">
					Apple Worldwide Developers’ Conference, 1997
				</Fragment>
			</Blockquote>
		</article>
		<aside>This is an aside.</aside>
		<footer>This is footer for this section</footer>
	</section>
	<div role="region" aria-labelledby="Caption01" tabindex="0">
		<table>
			<caption id="Caption01">Books in a Scrolling Container</caption>
			<thead>
				<tr>
					<th>Author</th>
					<th>Title</th>
					<th>Year</th>
					<th>ISBN-13</th>
					<th>ISBN-10</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Miguel De Cervantes</td>
					<td>The Ingenious Gentleman Don Quixote of La Mancha</td>
					<td>1605</td>
					<td>9783125798502</td>
					<td>3125798507</td>
				</tr>
				<tr>
					<td>Gabrielle-Suzanne Barbot de Villeneuve</td>
					<td lang="fr">La Belle et la Bête</td>
					<td>1740</td>
					<td>9781910880067</td>
					<td>191088006X</td>
				</tr>
				<tr>
					<td>Sir Isaac Newton</td>
					<td>The Method of Fluxions and Infinite Series</td>
					<td>1763</td>
					<td>9781330454862</td>
					<td>1330454863</td>
				</tr>
				<tr>
					<td>Mary Shelley</td>
					<td>Frankenstein; or, The Modern Prometheus</td>
					<td>1818</td>
					<td>9781530278442</td>
					<td>1530278449</td>
				</tr>
				<tr>
					<td>Herman Melville</td>
					<td>Moby-Dick; or, The Whale</td>
					<td>1851</td>
					<td>9781530697908</td>
					<td>1530697905</td>
				</tr>
				<tr>
					<td>Emma Dorothy Eliza Nevitte Southworth</td>
					<td>The Hidden Hand</td>
					<td>1888</td>
					<td>9780813512969</td>
					<td>0813512964</td>
				</tr>
				<tr>
					<td>F. Scott Fitzgerald</td>
					<td>The Great Gatsby</td>
					<td>1925</td>
					<td>9780743273565</td>
					<td>0743273567</td>
				</tr>
				<tr>
					<td>George Orwell</td>
					<td>Nineteen Eighty-Four</td>
					<td>1948</td>
					<td>9780451524935</td>
					<td>0451524934</td>
				</tr>
				<tr>
					<td>Nnedi Okorafor</td>
					<td>Who Fears Death</td>
					<td>2010</td>
					<td>9780756406691</td>
					<td>0756406692</td>
				</tr>
			</tbody>
		</table>
	</div>
	<section>
		<dl class="flow">
			<div>
				<dt>Definition List Title</dt>
				<dd>Definition list division.</dd>
			</div>
			<div>
				<dt>Kitchen Sink</dt>
				<dd>
					Used in expressions to describe work in which all conceivable (and
					some inconceivable) sources have been mined. In this case, a bunch of
					markup.
				</dd>
			</div>
			<div>
				<dt>aside</dt>
				<dd>Defines content aside from the page content</dd>
			</div>
			<div>
				<dt>blockquote</dt>
				<dd>Defines a section that is quoted from another source</dd>
			</div>
		</dl>
	</section>
	<hr />
	<section class="flow">
		<ul>
			<li>
				Unordered List item one
				<ul>
					<li>
						Nested list item
						<ul>
							<li>Level 3, item one</li>
							<li>Level 3, item two</li>
							<li>Level 3, item three</li>
							<li>Level 3, item four</li>
						</ul>
					</li>
					<li>List item two</li>
					<li>List item three</li>
					<li>List item four</li>
				</ul>
			</li>
			<li>List item two</li>
			<li>List item three</li>
			<li>List item four</li>
		</ul>
		<hr />
		<ol>
			<li>
				List item one
				<ol>
					<li>
						List item one
						<ol>
							<li>List item one</li>
							<li>List item two</li>
							<li>List item three</li>
							<li>List item four</li>
						</ol>
					</li>
					<li>List item two</li>
					<li>List item three</li>
					<li>List item four</li>
				</ol>
			</li>
			<li>List item two</li>
			<li>List item three</li>
			<li>List item four</li>
		</ol>
	</section>
	<hr />
	<section>
		<address>
			1 Infinite Loop<br />
			Cupertino, CA 95014<br />
			United States
		</address>
	</section>
	<hr />

	<figure class="flow">
		<img src="https://picsum.photos/id/237/200/" />
		<figcaption class="flow-space-2xs">
			Fig1. A picture of a black dog
		</figcaption>
	</figure>

	<hr />
	<section>
		<form class="flow">
			<div>
				<label class="sidebar" for="example-input-email">Email address</label>
				<input
					type="email"
					id="example-input-email"
					placeholder="Enter email"
					required
				/>
			</div>
			<div>
				<label class="sidebar" for="example-input-number">Number</label>
				<input type="number" id="example-input-number" placeholder="Number" />
			</div>
			<div>
				<label class="sidebar" for="example-input-password">Password</label>
				<input
					type="password"
					id="example-input-password"
					placeholder="Password"
				/>
			</div>
			<div>
				<label class="sidebar" for="example-input-serach">Search</label>
				<input
					type="search"
					id="example-input-serach"
					placeholder="Search .."
				/>
			</div>
			<div>
				<label class="sidebar" for="example-input-tel">Telephone number</label>
				<input
					type="tel"
					id="example-input-tel"
					placeholder="Telephone number"
				/>
			</div>

			<div>
				<label class="sidebar" for="example-input-text">Text</label>
				<input
					type="text"
					id="example-input-text"
					placeholder="Enter some text here"
				/>
			</div>
			<div>
				<label class="sidebar" for="example-input-url">Url</label>
				<input
					type="url"
					id="example-input-url"
					placeholder="Enter a url here"
				/>
			</div>
			<div>
				<label class="sidebar" for="volume">Volume</label>
				<input type="range" id="volume" name="volume" min="0" max="11" />
			</div>
			<div>
				<label class="sidebar" for="example-input-color">Color</label>
				<input type="color" id="example-input-color" />
			</div>
			<div>
				<label class="sidebar" for="example-input-date">Date</label>
				<input type="date" id="example-input-date" />
			</div>
			<div>
				<label class="sidebar" for="example-input-date-time-local"
					>Date / Time local</label
				>
				<input type="datetime-local" id="example-input-date-time-local" />
			</div>
			<div>
				<label class="sidebar" for="example-input-month">Month</label>
				<input type="month" id="example-input-month" />
			</div>
			<div>
				<label class="sidebar" for="example-input-week">Week</label>
				<input type="week" id="example-input-week" />
			</div>
			<div>
				<label class="sidebar" for="example-input-time">Time</label>
				<input type="time" id="example-input-time" />
			</div>
			<div>
				<label class="sidebar" for="example-select1">Select</label>
				<select id="example-select1">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div>
				<label class="sidebar" for="example-select2">Multi-select</label>
				<select multiple id="example-select2">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div>
				<label class="sidebar" for="example-textarea">Textarea</label>
				<textarea id="example-textarea"></textarea>
			</div>
			<div>
				<label class="sidebar" for="example-input-file">File input</label>
				<input type="file" id="example-input-file" />
			</div>
			<fieldset>
				<legend>Choose an option</legend>
				<div>
					<label for="r1">
						<input type="radio" name="f" id="r1" value="option1" checked />
						Example
					</label>
				</div>
				<div>
					<label for="r2">
						<input type="radio" name="f" id="r2" value="option2" />
						Example 2
					</label>
				</div>
				<div>
					<label for="r3">
						<input type="radio" name="f" id="r3" value="option3" disabled />
						Example 3
					</label>
				</div>
			</fieldset>

			<fieldset>
				<legend>Choose your interests</legend>
				<div>
					<label>
						<input type="checkbox" id="coding" name="interest" value="coding" />
						Coding
					</label>
				</div>
				<div>
					<label>
						<input type="checkbox" id="music" name="interest" value="music" />
						Music
					</label>
				</div>
				<div>
					<label>
						<input type="checkbox" id="art" name="interest" value="art" />
						Art
					</label>
				</div>
				<div>
					<label>
						<input type="checkbox" id="sports" name="interest" value="sports" />
						Sports
					</label>
				</div>
				<div>
					<label>
						<input
							type="checkbox"
							id="cooking"
							name="interest"
							value="cooking"
						/>
						Cooking
					</label>
				</div>
				<div>
					<label for="indeterminate-checkbox">
						<input
							type="checkbox"
							id="indeterminate-checkbox"
							name="indeterminate-checkbox"
						/>
						Indeterminate checkbox
					</label>
				</div>
			</fieldset>

			<button>Button</button>
		</form>
	</section>
	<hr />
	<section>
		<div>
			<button command="show-modal" commandfor="my-dialog">Open dialog</button>
			<dialog id="my-dialog" closedby="any" class="flow">
				<p>This dialog was opened using an invoker command.</p>
				<button commandfor="my-dialog" command="close">Close</button>
			</dialog>
		</div>
	</section>
</main>

<style>
	form {
		--sidebar-content-min-width: 10rem;
		--sidebar-gap: var(--space-3xs-2xs);
		--sidebar-vertical-alignment: center;
	}
</style>

<script is:inline>
	const checkbox = document.getElementById('indeterminate-checkbox');
	checkbox.indeterminate = true;
</script>
